@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundDay {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/daytime.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.backgroundNight {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/night.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.bgTransparent {
  background-color: rgba(34, 31, 31, 0.127);
  /* Adjust the alpha value for transparency (0 is fully transparent, 1 is fully opaque) */
  backdrop-filter: blur(10px);
  /* Adjust the blur radius as needed */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  /* Apply drop shadow to bottom and right sides */
}

.bgBlueBody {
  background-color: #1D2837;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}